body{
margin: 0px;
padding: 0px;
height: 100wh;
display: flex;
justify-content: center;
align-items: center;
background-color: darkgrey;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slider{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

/* css for manual slide navigation*/

.navigation-manual{
position: absolute;
width: "800px";
margin-top: -40px;
display: flex;
justify-content: center;
}

.manual-btn{
border: 3px solid darkblue;
padding: 5px;
border-radius: 9px;
cursor: pointer;
transition: 1s;
}